body {
    font-family: "Plus Jakarta Sana", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-heart {
    color: #fe424d;
    font-size: 1.8rem;
}

.nav-link{
    color: #222222 !important;
}

.navbar-brand {
    font-family: cursive;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.card {
    border: none !important;
    margin: 1rem;
    margin-bottom: 2.3rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.review-card {
    border: 1px solid gray;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Form */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 60vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* UI Icons  */
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.9;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

/* Tax Switch */
.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 0.5rem;
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
}
